<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ target_user }}</title>
</head>
<body>

    <ul>
        {% for chat in chats %}
            <li>
                <div>
                    <details>
                        <summary><a href="https://t.me/{{ chat.username }}">{{ chat.title }} </a></summary>
                            <ul>
                                Total messages: {{ chat.messages|length }}
                                {% for message in chat.messages %}
                                    {% if chat.username %}
                                        <li>

                                            <a href="https://t.me/{{ chat.username }}/{{ message.id }}" target="_blank">{{ message.date }}</a> {{ message.text if message.text else message.service }}
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="https://t.me/c/{{ chat.id }}/{{ message.id }}" target="_blank">{{ message.date }}</a> {{ message.text if message.text else message.service }}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                    </details>
                </div>
            </li>
        {% endfor %}
    </ul>
</body>
</html>